@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    background-color: #F8F9FA;
}

.logo{
    width: 150px;
}

.nav-title{
    background: #D90368;
    height: 120px;
}

h1{
    color: #FFFFFF;
    text-align: center;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-primary{
    background-color: #D90368;
    border: none;
}

.row{
    align-items: center;
}

.nav-link:hover{
    color: #D90368;
}

.card{
    margin-top: 1rem;
}

.bi-instagram, 
.bi-facebook, 
.bi-whatsapp{
    color: #D90368;
    font-size: 2rem;
    margin: 5px;
}

.bi-search{
    color: #D90368;
    font-size: 1rem;
    margin: 5px;
}

.bi-chevron-left, 
.bi-chevron-right{
    color: #ffffff;
    font-size: 1.5rem;
}

.bi-chevron-left:hover, 
.bi-chevron-right:hover{
    color: #424242;
    font-size: 1.5rem;
}

.form{
    text-align: center;
}

.form-item{
    margin-top: 0.4rem
}

.btn-secondary{
    background-color: #D90368;
    border: none;
}
.btn-secondary:hover{
    background-color: #840042;
    border: none;
}

.form-input,
.form-textarea{
    background-color: #f1d3e1;
    border: none;
    border-radius: 6px;
    padding: 0.5rem;
}

table, 
th, 
td, 
tr,
.table-secondary{
    border: 1px solid #D90368;
}

td{
    width: 30%;
}

.table{
    margin-top: 1rem;
}

strong{
    font-size: 1.5rem;
}

.details{
    margin-top: 5rem;
}